h1{
    color:#000000
}
.header{
    background-color: #a3a3a3;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
    background-color: #a3a3a3;
}
a:link{
    color: blue;
}
a:visited{
    color:blueviolet;
}
.menu{
    margin-left: 100px;
}
.menu a{
    margin-left: 100px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}